@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    background-image: url('./src/images/header-image.png'); 
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.7);
    padding: 10px 8%;
    position: relative;

}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: 1;
}

.header{
    width: 100%;
    
}

nav{
    position: relative;
    z-index: 2; /* Make sure the content is above the overlay */
    text-align: center;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    width: 150px;
    cursor: pointer;
}
nav button{
    border: 0;
    outline:0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}
.lang-btn{
    display: inline-flex;
    align-items:center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
}
.lang-btn img{
    width: 10px;
    margin-left: 10px;
}
.header-content{
    position: relative;
    z-index: 2; /* Make sure the content is above the overlay */
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}
.header-content h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}
.header-content h3{
    font-weight: 400;
    margin-bottom: 20px;
}
.email-signup{
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow:hidden;
}
.email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}
.email-signup button{
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}
.signin{
    position: relative;
    z-index: 2; /* Make sure the content is above the overlay */
    align-items:center;
}